@model IEnumerable<SoftwareDevelopmentProject.Models.tbl_result22>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Secound Semester Result</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.experment_mark1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.book_mark2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.viva_mark3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tma_mark1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tma_mark2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total_practical_mark)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total_tma_mark)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.exam_term)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.st_study_center)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.submit_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_semester22_subject.s22_course_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_students.st_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.experment_mark1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.book_mark2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.viva_mark3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tma_mark1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tma_mark2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.total_practical_mark)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.total_tma_mark)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.exam_term)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.st_study_center)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.submit_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_semester22_subject.s22_course_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_students.st_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.result22_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.result22_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.result22_id })
        </td>
    </tr>
}

</table>
