@model SoftwareDevelopmentProject.Models.tbl_result33_project

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutCenter.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbl_result33_project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.project_report)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.project_report)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.viva)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.viva)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.exam_term)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.exam_term)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.st_study_center)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.st_study_center)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.submit_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.submit_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_semester33_subject.s33_course_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_semester33_subject.s33_course_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_students.st_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_students.st_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.result33_project_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
