@model IEnumerable<SoftwareDevelopmentProject.Models.tbl_result33_project>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCenter.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.project_report)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.viva)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.exam_term)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.st_study_center)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.submit_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_semester33_subject.s33_course_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_students.st_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.project_report)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.viva)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.exam_term)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.st_study_center)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.submit_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_semester33_subject.s33_course_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_students.st_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.result33_project_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.result33_project_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.result33_project_id })
        </td>
    </tr>
}

</table>
