@model SoftwareDevelopmentProject.Models.tbl_studyCenter

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
<div class="row">
    <div class="form-horizontal bg-transparent border mt-5" style="max-width:750px;margin:auto;">
        <div>
            <h4>tbl_studyCenter</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.study_center_name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.study_center_name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.study_center_code)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.study_center_code)
                </dd>


            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.study_center_code }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
        </div>
    </div>
