@model SoftwareDevelopmentProject.Models.tbl_result11

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutCenter.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tbl_result11</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.experment_mark1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.experment_mark1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.book_mark2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.book_mark2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.viva_mark3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.viva_mark3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tma_mark1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tma_mark1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tma_mark2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tma_mark2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total_practical_mark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total_practical_mark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.total_tma_mark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.total_tma_mark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.exam_term)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.exam_term)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.st_study_center)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.st_study_center)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.submit_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.submit_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_semester11_subject.s11_course_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_semester11_subject.s11_course_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_students.st_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_students.st_name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
