@model SoftwareDevelopmentProject.Models.tbl_semester11_subject

@{
    ViewBag.Title = "Semester Subject Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<<h2 class="text-center mt-3">Semester Subject Details</h2>
<div class="row">
    <div class="form-horizontal bg-transparent border mt-5" style="max-width:750px;margin:auto;">
        <div>
            <h4>Semester Subject</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.s11_course_name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.s11_course_name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.s11_course_code)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.s11_course_code)
                </dd>


                <dt>
                    @Html.DisplayNameFor(model => model.s11_course_credit)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.s11_course_credit)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.s11_course_code }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>
